@import "includes";
@use "list";

/* https://markdotto.com/2018/02/07/github-system-fonts/ */
$fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$gray_colors: (#141413, #504e4d, #969391, #b4b0ae, #fff9f6);
$primary_colors: (#1e1306, #503921, #96795b, #ded4bb, #fffcf4);
$red_accent_colors: (#500a0a, #961313, #dc3030, #f0a6a6, #ffe1e1);

body {
  font-family: sans-serif;
  color: nth($gray_colors, 1);
  margin: auto;
  background-color: nth($gray_colors, 5);
  font-size: 16px;
  line-height: 1.6;
}

p {
  margin: 1.25em 0;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1.5em 0 1em 0;
  line-height: 1em;
}

h1 {
  font-size: 1.625em;
}
h2 {
  font-size: 1.375em;
}
h3 {
  font-size: 1.125em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.875em;
}
h6 {
  font-size: 0.75em;
}

h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2.5em;
}

a {
  text-decoration: none;
  border: none;
  transition: color 0.1s;
  color: nth($gray_colors, 1);

  &:hover {
    color: nth($red_accent_colors, 4);
    text-decoration: underline;
  }

  &:active {
    color: nth($red_accent_colors, 3);
  }
}

ol li {
  list-style: decimal;
  margin-left: 1.25em;
  margin-bottom: 0.2em;
}

ul li {
  list-style: disc;
  margin-left: 1.25em;
  margin-bottom: 0.2em;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 1.25em;
}

pre,
code {
  font-family: monospace;
  border-radius: 3px;
}
code {
  background: nth($primary_colors, 5);
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  color: nth($primary_colors, 2);
}
pre code {
  background: nth($gray_colors, 1);
  display: block;
  margin: 1em 0;
  padding: 0.75em 1em;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}
figure {
  width: 100%;
  margin: 2em 0;
  text-align: center;
}
figcaption {
  p {
    margin: 0;
  }
  text-align: center;
  font-size: 0.9em;
  color: #666;
}

blockquote {
  padding-left: 1.25em;
  padding-right: 1.5em;
  border-left: 0.25em solid #eee;
  color: #666;
}

table {
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid #ddd;
}

td,
th {
  vertical-align: middle;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(2n + 1) td,
tbody tr:nth-child(2n + 1) th {
  background-color: #f8f8f8;
}

sup,
sub {
  font-size: 0.8em;
}
sup {
  vertical-align: super;
}

main {
  padding: 0px;
  max-width: 800px;
  margin: 0px auto;
}

header  {
  background: url("/images/front-cover.png") no-repeat;
  background-size: cover;
  background-color: nth($primary_colors, 2);
  background-blend-mode: overlay;
  color: nth($primary_colors, 5);
  .container {
    max-width: 800px;
    min-height: 150px;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: nth($primary_colors, 5);
  }
  nav {
    margin: 4px;
    display: block;

    .bar-delimiter {
      margin-left: 2px;
      margin-right: 2px;
    }
  }
  h2 {
    margin: 4px;
  }
}

.combined-title-pagination {
  margin-top: 2.5em;
  h1 {
    display: inline;
  }
  h3 {
    display: inline;
    margin-left: 0.2em;
  }
}

.title-group {
  .title h1 {
    margin-bottom: 0.5em;
  }
  .date h5 {
    color: nth($gray_colors, 3);
    margin: 0;
  }
  margin-bottom: 1.5em;
}

footer {
  margin-top: 4em;
  border-radius: 8px;
  .about {
    background-color: nth($primary_colors, 4);
  }
}

.combined-title-pagination {
  margin-top: 0em;
  margin-bottom: 2em;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h1 {
    color: nth($primary_colors, 2);
    font-size: 2em;
    font-weight: bold;
  }
}

h3.current-page {
  color: nth($primary_colors, 3);
  text-align: right;
  font-weight: 400;
}

.about {
  color: nth($primary_colors, 1);
  margin-top: 20px;
  padding-bottom: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  h1 {
    font-family: serif;
    margin-bottom: 0.5em;
  }

  p {
    margin: 0.5em;
    font-family: serif;
  }

  .social-icon {
    width: 1em;
  }
}

.horizontal-links {
  width: 100%;
  margin-bottom: 0.25em;
  a {
    color: nth($primary_colors, 2);
    background-color: nth($primary_colors, 4);
    border-radius: 6px;
    padding: 0.5em;
    margin: 0.5em;
  }
  a:last-child {
    border: none;
  }
  &:last-child {
    margin-bottom: 1.25em;
  }
}

.post-list {
  h1 a {
    color: nth($gray_colors, 1);
    text-decoration: none;
    border: none;
  }
  .read-more {
    margin: 1.25em auto;
    a {
      color: nth($red_accent_colors, 1);
    }
  }

  padding-bottom: 1em;
  // border-bottom: 1px solid #ccc;
}

.tags {
  font-size: 0.9em;
  margin-top: 50px;
  .links {
    display: inline;
    margin-left: 0.5em;
  }
}

.paginator {
  margin: 2em 0;
  .disabled {
    color: #aaa;
  }
  .newer {
    float: right;
    clear: both;
  }
}

.current-page {
  color: #aaa;
}

.album {
  .date,
  .date h5,
  .location,
  .location h5 {
    display: inline;
  }
  .location {
    color: #888;
    border-left: solid 2px #ccc;
    padding-left: 1em;
    margin-left: 1em;
  }
  .photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7em 0.7em;
    a {
      display: grid;
    }
    a.full-size {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

@media (max-width: 400px) {
  body {
    font-size: 14px;
  }
  .album .photos {
    grid-template-columns: 1fr;
    a {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
